<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link type="text/css" href="css/style.css" rel="stylesheet">
</head>

<body>
	<div id="wrapper">
		<div id="cont_top">
			<div class="top_circle">Available for limited time</div>
			<div class="logo"><img src="images/logo.png" alt="logo dfs"></div>
			<h1>Half Price Summer Sale</h1>
			<h2>Take a further <span>20% off</span> already reduced prices</h2>
			<div class="top_sofa"></div>
			<div class="clear_all"></div>
		</div>
	</div>
</body>
</html>
